$black: rgb(7, 17, 27);
$gray: rgb(147, 153, 159);
$red: rgb(240, 20, 20);
$orange: #ff7800;
$bg-yellow: #FAF9DE;
$bg-brown: #FFF2E2;
$bg-purple: #E9EBFE;
$bg-green: #E3EDCD;
$bg-blue: #DCE2F1;
$bg-gray: #EAEAEF;
$line1: rgba(7, 17, 27, 0.1);
$line2: rgba(255, 255, 255, 0.2);
$blue: rgb(0, 160, 220);
$bg-bk2: rgba(0, 0, 0, 0.2);
$bg-bk5: rgba(7, 17, 27, 0.5);
$bg-bk8: rgba(7, 17, 27, 0.8);
